.git
.github
.idea
.vscode
target
build
*.iml
*.log
*.tmp

src/main/resources/save
src/main/resources/templates/allMatches.json
src/main/resources/templates/googleCred.json
src/main/resources/templates/men-games.json
src/main/resources/templates/youth-games.json

config/*
!config/.gitkeep
fonts/*
!fonts/.gitkeep
data
