# === Build-Verzeichnisse ===
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === IDE-spezifische Dateien ===

## Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# === OS-spezifisch ===
.DS_Store
Thumbs.db

# === Logs & Temporäre Dateien ===
*.log
*.tmp

# === Eigene Projektpfade ===

# Ignoriere spezifische JSON-Dateien im templates-Ordner
/src/main/resources/templates/men-games.json
/src/main/resources/templates/youth-games.json
/src/main/resources/templates/allMatches.json
/src/main/resources/templates/clubs.json
/src/main/resources/templates/data.json
/src/main/resources/templates/googleCred.json
/src/main/resources/templates/teamInfo.json

# Ignoriere Ordner für gespeicherte Spielstände oder Zwischenspeicher
/src/main/resources/save/*
/save/
/buffer/
